<%= simple_form_for([dream, booking]) do |f| %>
  <div class="form-group">
    <%= f.input :start_date, label: "Start Date", as: :date %>
    <%= f.input :end_date, label: "End Date", as: :date %>
  </div>
  <div class="actions">
    <%= f.submit "Create Booking", class: "btn btn-flat" %>
  </div>
<% end %>
