<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded-5 p-3 shadow">
        <h2 class=" text-center">Create your own dream</h2>
        <%= render "form", dream: @dream  %>
      </div>
    </div>
  </div>
</div>
