.animate-text {
  animation: fade-in 2s ease-out forwards, move-up 2s ease-out forwards;
  opacity: 0;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh; /* S'assure que le contenu occupe tout l'espace */
}

.titlebig {
  font-size: 100px;
  font-weight: bold;
  text-shadow: 2px 3px 5px black;
  color: white;
  line-height: 1.2px;
  padding-top: 10px;
}

.titlebig2 {
  font-size: 100px;
  font-weight: bold;
  text-shadow: 2px 3px 5px black;
  color: rgb(82, 79, 226);
}

.lead {
  color: rgba(144, 38, 173, 0.897);
  font-weight: 600;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move-up {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}


.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card i {
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}

.btn:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.call-to-action {
  background-size: cover;
  background-position: center;
}

// .mainbackground {
//   background-image: asset-url("background2.png");
//   background-repeat: no-repeat;
//   // height: 100vh
//   inset: 0;
//   z-index: -1;
//   background-position: center;
//   background-size: cover;

// }

// .maincontainer {
//   // min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
// }


.homepage-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding-top: 20%;
}
