<div class="dream-background">
  <div class="content-container">
    <h1 class="title">Welcome to your Dream Dashboard <%=@user.nickname%> ! </h1>
    <div class="card-container">
    <div class="card">
      <%= link_to 'Dreams created', dreamsdashboard_path, class: 'btn-btn-primary' %>
    </div>
    <div class="card">
    <%= link_to 'My bookings', bookingsdashboard_path, class: 'btn-btn-primary' %>
    </div>
  </div>

    <%= link_to 'Discover Our Dream', dreams_path, class: 'btn-discover', class: "nav-link text-decoration-none" %>
  </div>
</div>
