<div class="dream-background">
  <div class="content-container">
    <h1 class="title">Welcome to Dreamdealer</h1>
    <%= link_to 'Discover Our Dream', dreams_path, class: 'btn-discover', class: "nav-link text-decoration-none" %>
  </div>
</div>
