.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(249,229,231,255);
  height: $navbar-height;
  border-bottom: 5px solid rgba(208, 231, 234, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
