// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.mainbackground {
  background-image: asset-url("background_home.png");
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

.maincontainer {
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
}
