<%= simple_form_for([dream, review]) do |f| %>
  <div class="form-group h-15">
    <%= f.input :comment, label: "Comment" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Booking", class: "btn btn-flat" %>
  </div>
<% end %>
