<div class="container py-5">
  <div id="review-form" class="col-12 col-md-6 offset-lg-3">
    <div class="bg-transparent rounded-5 p-3 shadow">
      <%= render "form", review: @review, dream: @dream %>
      </div>
  </div>
</div>
