<div class="text-center mt-4">
  <h2 id="show-review-form" class="btn btn-primary">Give a review</h2>
  <div id="review-form">
    <%= render "form", review: @review, dream: @dream %>
  </div>
</div>
